<footer class="bg-dark mt-5 fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col p-2">
                <a class="navbar-brand" href="#">
<!--                    <img src="../../image/logo_white.png" width="200" height="40">-->
                    <img  width="200" height="40" src="https://psv4.userapi.com/c235131/u202940557/docs/d33/aa3a74d373ea/logo_white.png?extra=yNBipWHUWxPDHMYRoOEcgyGLSqe845Xq-z8o9GnBcBm3tb1DZ0i25w7RR36AabwCCfvoqTMPjbcyg8obSgLQ98xrdKUzTAD9hWc_gpbDAhLiToabxJCvRkbn-ZUsbBviS23tFl3pyCl4OMA9gz9rd9bfnQ">
                </a>
            </div>
            <div class="col p-2">
                <div class="d-flex justify-content-end">
                    <p>Контакты</p>
                </div>
                <div class="d-flex justify-content-end">
                    <p>Сергей 8-902-47-49-771</p>
                </div>
            </div>

        </div>
    </div>

</footer>

