<header class="bg-dark" th:fragment="header">
    <div class="container">
        <div class="row">
            <div class="col-12 ">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">
                         <img src="/image/logo_white.png" width="200" height="40">

                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse text-uppercase" id="navbarNavAltMarkup">
                            <ul class="navbar-nav ms-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Главная</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Каталог</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Отзывы</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Рекомендации</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Контакты</a>
                                </li>
                            </ul>
                        </div>

                        <div class="null mx-2">
                            <a class="btn btn-dark btn-lg btn" id="basket-icon">
                                <i class="bi bi-cart4"></i>
                            </a>
                            <span class="counter">[[${goodsCounter}]]</span>
                        </div>


                        <a class="btn btn-dark btn-lg btn" data-bs-target="#modalCity" data-bs-toggle="modal" id="btnLocation">
                            <i class="bi bi-geo-alt-fill"></i>
                        </a>

                        <div class="location" id="local" style="color: #ffffff"></div>

                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>

