<div class="modal" tabindex="-1" id="modalCity">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Выберите город</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close"></button>
            </div>
            <div class="modal-body" >
                <select class="form-select" aria-label="Default select example" id="city">
                    <option selected>Выберите город</option>
                    <option>МОСКВА</option>
                    <option>САНКТ-ПЕТЕРБУРГ</option>
                    <option>НОВОСИБИРСК</option>
                    <option>КРАСНОДАР</option>
                    <option>ЕКАТЕРИНБУРГ</option>
                    <option>КАЗАНЬ</option>
                    <option>УФА</option>
                    <option>НИЖНИЙ НОВОГОРОД</option>
                    <option>ЧЕЛЯБИНСК</option>
                    <option>САМАРА</option>
                    <option>РОСТОВ-НА-ДОНУ</option>
                    <option>ОМСК</option>
                    <option>КРАСНОЯРСК</option>
                    <option>ВОРОНЕЖ</option>
                    <option>ПЕРМЬ</option>
                    <option>ВОЛГОГРАД</option>
                    <option>ВЛАДИВОСТОК</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="save">Сохранить</button>
            </div>
        </div>
    </div>
</div>