<div class="container pt-4" id="basket">
    <div class="row gx-5">
        <div class="col-9">
            <div th:if="${products.size() > 0}">

                <table class="table table-hover table-responsive-xl">
                    <h2>Корзина</h2>
                    <tbody>
                    <tr th:each="product : ${products}">

                        <td style="text-align: center"><img width="200px"
                                                            src="https://sun9-52.userapi.com/impg/6zz8cKmQxMIqMqA5uKLv5w55opf9vghesScQFQ/zVG8EndkmlA.jpg?size=1280x854&quality=96&sign=aad8ad4a8302d84049e0e37ccbacd9be&type=album">
                        </td>
                        <td>[[${product.title}]]</td>
                        <td id="count">
                            <div class="input-number">
                                <button type="button" class="input-number-minus btn btn-dark" th:value="${product.id}">-</button>
                                <input class="input-number-input" type="text" pattern="^[0-9]+$" value="1">
                                <button type="button" class="input-number-plus btn btn-dark" th:value="${product.id}">+</button>
                            </div>
                        </td>
                        <td>
                            <b>[[${product.price}]]</b>
                            <i class="fa-solid fa-ruble-sign"></i>
                        </td>

                        <td>
                            <a class="btn btn-outline-dark">
                                <button type="button" class="bi bi-trash-fill" th:value="${product.id}"></button>
                            </a>

                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-3 border border-secondary rounded d-grid gap-2" style="height: 250px">
            <h2>К покупке</h2>
            <p style="color: #767377">Товары, 1 шт.</p>
            <h4><b>Итого: 1000</b> <i class="fa-solid fa-ruble-sign"></i></h4>
            <button type="button" class="btn btn-dark mb-2">Оформить покупку</button>
        </div>
    </div>
</div>


